.clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: $iconsColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accentColor;
    border: 1px solid $accentColor;
  }

}

.clients__item:not(:last-child) {
  margin-right: 30px;
}
