.features {
  display: flex;
  flex-wrap: wrap ;
}


.features__item {
  width: 450px;

  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $featuresIconBg;

    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;   
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
    
    &:nth-child(2n) {
      margin-right: 0;
    }
    
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }  
  }

  @media screen and (min-width: 1200px) {
    width: 270px; 
    margin-right: 30px;

    &:last-child {
     margin-right: 0px;
    }
  }
}

.features__item--antenna::before {
  background-image: url("../img/antenna.svg");
}

.features__item--clock::before {
  background-image: url("../img/clock.svg");
}

.features__item--diagram::before {
  background-image: url("../img/diagram.svg");
}

.features__item--astronaut::before {
  background-image: url("../img/astronaut.svg");
}

.features__title {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $secondaryTextColor;
 
  @media screen and (min-width: 768px) {
    text-align: left; 
  }

}

.features__description {
  margin-top: 10px;
  line-height: 1.7;
}