.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footerBackgroundColor; 
}

.container__footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
    
  }
}

.box {
  text-align: center;

  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}


.addres__box {
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 70px;
    }
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: $footerWhiteColor;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none; 
}

.address__text {
  margin-bottom: 9px;
  color: $footerWhiteColor;
  font-style: normal;
  line-height: 1.71;
}

.contacts--dark {
  flex-flow: column;
}

.contacts__link--dark {
  display: block;

  color: $addressLinkColor;
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.contacts__item--dark:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $footerWhiteColor; 
}