.header {
  background-color: $backgroudWhiteColor;
  border-bottom: 1px solid #ececec;

  
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primaryTextColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, 
  &:focus{
    color: $accentColor;
    fill: $accentColor;
  }
   
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

