.header {
  background-color: $backgroudWhiteColor;
  border-bottom: 1px solid #ececec;
  
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;  
  }  
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;  
  }
}