.header__logo {
  margin-right: 90px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $logoBlack;
}

.logo--accent {
  color: $accentColor;
}