.menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts {
  margin-left: auto;
}
.contacts__list {
  padding: 21px 0;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
  }
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }  
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;
 
  margin-left: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primaryTextColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accentColor;
    fill: $accentColor;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }
}

.contacts__icon--phone {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.contacts__icon--mail {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: currentColor;
  
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}