.subscription__box {
  margin-left: 93px;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $footerBackgroundColor;
  outline: none;
}

.subscription__button {
  padding: 10px 29px;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscription__icon {
  margin-left: 10px;
}